spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/hackathon_2026_kiev_postgis?reWriteBatchedInserts=true}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:12345}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 20000
      idle-timeout: 300000
      max-lifetime: 1200000
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 500
        order_inserts: true
        order_updates: true
  application:
    name: "server"
  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
  data:
    web:
      pageable:
        size-parameter: pageSize
        page-parameter: page
        default-page-size: 25
        max-page-size: 200

app:
  base-url: ${APP_BASE_URL:http://localhost:8080}

server:
  port: 8080

jwt:
  secret-key: ${JWT_SECRET_KEY:5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437}
  access-token:
    expiration: ${JWT_ACCESS_TOKEN_EXPIRATION:3600000}
  refresh-token:
    expiration: ${JWT_REFRESH_TOKEN_EXPIRATION:604800000}
