spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hackathon_2026_kiev
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  application:
    name: "server"

app:
  base-url: http://localhost:8080

server:
  port: 8080

jwt:
  secret-key: "5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437"
  access-token:
    expiration: 3600000
  refresh-token:
    expiration: 604800000